<div id="landingContainer" style="display: none;">
    <div id="updateAvailableContainer">
        <div class="content">
            <p><i class="fa-solid fa-arrows-rotate"></i><%- lang('landing.updateAvailableTooltip') %></p>
        </div>
    </div>
    
    <div id="upper">
        <div id="topBar">
            <img class="logo" src="assets/images/logo.png" />
            <div class="userContainer">
                <span id="username"><%- lang('landing.usernamePlaceholder') %></span>
                <div id="avatarContainer">
                    <div><i class="fa-solid fa-gear"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div id="newsContainer">
        <div class="news">
            <h2>Lorem Ipsum</h3>
            <h3>Lorem ipsum dolor sit.</h3>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo veritatis laudantium excepturi asperiores fugit animi eaque, hic deleniti, assumenda delectus doloribus nisi consequuntur praesentium! Ex autem dicta fugiat obcaecati fugit!</p>
        </div>
        <div class="news">
            <h2>Lorem Ipsum</h3>
            <h3>Lorem ipsum dolor sit.</h3>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae accusamus distinctio assumenda aperiam tenetur modi aspernatur dicta eum nihil, qui, optio, quo excepturi ex quam! Placeat cupiditate repellendus harum sunt!</p>
        </div>
        <div class="news">
            <h2>Lorem Ipsum</h3>
            <h3>Lorem ipsum dolor sit.</h3>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi tenetur corrupti ipsum possimus ab. Laudantium, incidunt. Autem sit placeat odio nesciunt maiores tempore distinctio possimus dolores pariatur nostrum? Omnis, velit.</p>
        </div>
        <div class="news">
            <h2>Lorem Ipsum</h3>
            <h3>Lorem ipsum dolor sit.</h3>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci architecto cupiditate saepe distinctio magnam incidunt accusantium deserunt qui cumque odit veritatis, dolore ipsa, dolores, asperiores repellat ad alias recusandae quia.</p>
        </div>
        <div class="news">
            <h2>Lorem Ipsum</h3>
            <h3>Lorem ipsum dolor sit.</h3>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo veritatis laudantium excepturi asperiores fugit animi eaque, hic deleniti, assumenda delectus doloribus nisi consequuntur praesentium! Ex autem dicta fugiat obcaecati fugit!</p>
        </div>
        <div class="news">
            <h2>Lorem Ipsum</h3>
            <h3>Lorem ipsum dolor sit.</h3>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae accusamus distinctio assumenda aperiam tenetur modi aspernatur dicta eum nihil, qui, optio, quo excepturi ex quam! Placeat cupiditate repellendus harum sunt!</p>
        </div>
        <div class="news">
            <h2>Lorem Ipsum</h3>
            <h3>Lorem ipsum dolor sit.</h3>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi tenetur corrupti ipsum possimus ab. Laudantium, incidunt. Autem sit placeat odio nesciunt maiores tempore distinctio possimus dolores pariatur nostrum? Omnis, velit.</p>
        </div>
        <div class="news">
            <h2>Lorem Ipsum</h3>
            <h3>Lorem ipsum dolor sit.</h3>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci architecto cupiditate saepe distinctio magnam incidunt accusantium deserunt qui cumque odit veritatis, dolore ipsa, dolores, asperiores repellat ad alias recusandae quia.</p>
        </div>
    </div>
    <div id="lower">
        <div class="content">
            <div id="serverStatus" class="bottomNavContainer">
                <div id="server_status_wrapper">
                    <span class="bot_label" id="landingPlayerLabel"><%- lang('landing.serverStatus') %></span>
                    <span id="player_count"><%- lang('landing.serverStatusPlaceholder') %></span>
                </div>
            </div>
            <div id="playButton" class="bottomNavContainer">
                <div id="launch_content">
                    <a id="launch_button"><%- lang('landing.launchButton') %></a>
                    <a id="server_selection_button"><%-lang('landing.launchButtonPlaceholder')%></a>
                </div>
                <div id="launch_details">
                    <div id="launch_details_left" style="display: none;">
                        <span id="launch_progress_label">0%</span>
                    </div>
                    <div id="launch_details_right">
                        <progress id="launch_progress" value="22" max="100"></progress>
                        <span id="launch_details_text"><%- lang('landing.launchDetails') %></span>
                    </div>
                </div>
            </div>
            <div id="linksArea" class="bottomNavContainer">
                    <a href="<%- lang('landing.mediaDiscordURL') %>"><i class="fa-brands fa-discord"></i></a>
                    <a href="<%- lang('landing.mediaWikiURL') %>"><i class="fa-brands fa-wikipedia-w"></i></a>
                    <a href="<%- lang('landing.mediaBansURL') %>"><i class="fa-solid fa-gavel"></i></a>
                    <a href="<%- lang('landing.mediaMapURL') %>"><i class="fa-solid fa-map-location-dot"></i></a>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/landing.js"></script>
</div>